:root {
    --gray-1: #111827;
    --gray-2: #1F2937;
    --gray-3: #374151;
    --text-primary: #E6EDF3;
    --text-secondary: #7D8590;
    --button-primary-bg: #F0F6FC;
    --button-primary-text: #161B22;
    --button-secondary-bg: #21262D;
}

.navigation-bar-container {
    width: 260px;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 16px;
    background-color: var(--gray-1);
    border-right: 2px solid var(--gray-3);
    position: fixed !important;
    scrollbar-width: none;
    user-select: none;
    font-family: 'Inter', Arial, sans-serif;
    z-index: 2;

    a {
        .logo {
            padding: 16px;
            margin: 16px 0;
            color: #cfe6ff;
            text-shadow:
                2px 2px 4px #007bff,
                -2px 2px 4px #007bff,
                2px -2px 4px #007bff,
                -2px -2px 4px #007bff;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
        }
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item {
            border: 2px solid transparent;
            border-radius: 8px;
            box-sizing: border-box;
            cursor: pointer;

            .link {
                padding: 14px 16px;
                color: var(--text-primary);
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 16px;
                font-weight: bold;

                i {
                    width: 16px;
                    display: flex;
                    justify-content: center;
                }
            }

            &:hover {
                border: 2px solid var(--gray-2);
                background-color: var(--gray-2);
            }
        }

        .located,
        .located:hover {
            border: 2px solid var(--gray-3);
            background-color: var(--gray-2);

            a {
                color: #fff;
            }
        }
    }
}

.admin-container {
    width: 100%;
    padding: 0 0 0 260px;
    box-sizing: border-box;

    .inner-container {
        width: 100%;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;

        .leaflet-container {
            border-radius: 12px;
        }

        .leaflet-popup-content {
            margin: 4px 20px;
        }

        .checkbox-item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 8px;
            color: var(--text-primary);
            background-color: var(--button-secondary-bg);
            border: 2px solid var(--gray-3);
            border-radius: 100px;
            cursor: pointer;

            input[type='checkbox'] {
                width: 18px;
                height: 18px;
            }
        }
    }
}