.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    ::-webkit-scrollbar {
        display: none;
    }

    .modal-box {
        position: relative;
        width: 400px;
        max-height: 90vh;
        padding: 20px;
        background-color: var(--gray-1);
        border: 2px solid var(--gray-3);
        border-radius: 20px;
        overflow-y: scroll;

        &.venue-box {
            width: 800px;
        }

        .user-edit-form {
            flex: 1;
        }

        .close-btn {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 20px;
            height: 20px;
            padding: 0;
            border: none;
            background-color: transparent;
        }

        .flex {
            display: flex;
            gap: 20px;
        }

        .column {
            flex: 1;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }

        .image-container {
            width: 120px;
            height: 120px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                border: 2px solid #cccccc80;
                box-sizing: border-box;
                border-radius: 20px;
            }

            &.edit-image {
                width: 100%;
                height: auto;

                img {
                    border-radius: 12px;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .edit-title {
                color: var(--text-primary);
                font-size: 32px;
                font-weight: bold;
            }

            .input-group {
                position: relative;

                &.group-1,
                &.group-2 {

                    &.group-1 {
                        flex: 1;
                    }

                    &.group-2 {
                        flex: 2;
                    }

                    label {
                        padding: 2px 8px;
                        top: -12px;
                        left: 0px;
                        border-radius: 8px 8px 0 0;
                        box-shadow: inset 1.8px 1.8px 0px var(--gray-3);
                        font-size: 12px;
                        color: var(--text-secondary);
                    }
                }

                input,
                select,
                textarea {
                    width: 100%;
                    font-size: 16px;
                    box-sizing: border-box;
                    color: var(--text-primary);
                    background-color: var(--gray-2);
                    border-color: var(--gray-3);

                    &:disabled {
                        opacity: 0.3;
                    }
                }

                label {
                    position: absolute;
                    top: 10px;
                    left: 12px;
                    color: var(--text-secondary) !important;
                    background-color: var(--gray-2);
                    border-radius: none;
                    box-shadow: none;
                    font-weight: bold;
                    padding: 0 4px;
                    transition: 0.2s ease;
                    pointer-events: none;
                }

                input:focus+label,
                input:not(:placeholder-shown)+label,
                select:focus+label,
                select:not(:placeholder-shown)+label,
                textarea:focus+label,
                textarea:not(:placeholder-shown)+label {
                    padding: 2px 8px;
                    top: -12px;
                    left: 0px;
                    border-radius: 8px 8px 0 0;
                    box-shadow: inset 1.8px 1.8px 0px var(--gray-3);
                    font-size: 12px;

                    &.disable {
                        background-color: #151D2C;
                        box-shadow: inset 1.8px 1.8px 0px #1D2533;
                    }

                    i {
                        font-size: 10px;
                    }
                }
            }

            .btn-box {
                display: flex;
                justify-content: space-between;
                gap: 12px;

                button {
                    width: 120px;
                    background-color: var(--gray-2);

                    &:hover {
                        background-color: var(--gray-3);
                    }

                    &.btn-save {
                        color: #2b813f;
                        border-color: #2b813f;

                        &:hover {
                            background-color: #2b813f80;
                        }
                    }
                }
            }
        }

        .leafletmap-div {
            width: 400px;
            min-width: 400px;
            margin: 60px 0 0;
        }
    }
}