.confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal-box {
        width: 360px;
        min-width: 360px;
        padding: 20px;
        background: var(--gray-2);
        border: 2px solid var(--gray-3);
        border-radius: 12px;

        .title {
            margin: 0 0 8px;
            color: #fff;
            font-size: 24px;
        }

        .message {
            margin: 0 0 40px;
            color: var(--text-primary);
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            gap: 100px;

            button {
                flex: 1;
                color: #fff;
                background: #ffffff10;

                &:hover {
                    border-color: #fff;
                }
            }
        }
    }
}