.revenue-management-container {

    .main-header {
        .actions {
            display: flex;
            align-items: center;
            gap: 12px;

            select {
                color: var(--text-1);
            }

            .export-btn {
                background-color: white;
                color: #0f1626;
                border: none;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 6px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .date-range-form {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        .field {
            display: flex;
            align-items: center;
            gap: 6px;

            label {
                color: var(--text-2);
                font-size: 14px;
                font-weight: bold;
            }

            input[type="date"] {
                background: #0f1626;
                border: 2px solid var(--gray-3);
                color: var(--text-1);
                padding: 6px 10px;
            }
        }

        button {
            background-color: var(--button-secondary-bg);
            transition: background 0.3s ease;
        }
    }

    .revenue-stats-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 16px;

        .stat-card {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--gray-2);
            border: 2px solid var(--gray-3);
            border-radius: 12px;
            transition: transform 0.2s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-4px);
            }

            .info {
                width: fit-content;
                display: flex;
                flex-direction: column;

                .title {
                    margin: 0 0 6px;
                    color: var(--text-primary);
                    font-size: 14px;
                }

                h3 {
                    margin: 0;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                }

                .change {
                    margin-top: 4px;
                    color: var(--text-secondary);
                    font-size: 12px;
                }
            }

            .icon {
                width: 48px;
                height: 70px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                color: #fff;
            }
        }
    }

    .revenue-chart {
        flex: 1;
        margin: 40px 0;
        height: 600px;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            label {
                color: #fff;
                font-weight: bold;
                font-size: 40px;
                text-align: center;
            }

            select {
                color: var(--text-secondary);
                background-color: var(--gray-2);
                border: 2px solid var(--gray-3);
            }
        }

        .chart-container {
            display: flex;
            align-items: center;
            gap: 40px;

            .chart {
                height: 600px;

                &.bar-chart {
                    flex: 2;
                }

                &.pie-chart {
                    flex: 1;
                }
            }
        }
    }
}