.cube-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-1);

    .scene-cube {
        width: 300px;
        height: 300px;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        /* transform: scale(5); */

        filter: drop-shadow(0 0 20px var(--color1));

        .cube {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: cube-rotate 3s linear infinite;

            display: flex;
            justify-content: center;
            align-items: center;

            .face {
                position: absolute;
                width: 100px;
                height: 100px;
                background: var(--color2);
                /* opacity: 0.9; */
                transition: all 1s ease;

                border: 1px solid #000;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                font-size: 20px;
                cursor: pointer;
            }

            --Distance: 50px;
            --Angle: 54.74deg;

            .f1 {
                transform: rotateZ(0deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(var(--Distance));
            }

            .f2 {
                transform: rotateZ(120deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(var(--Distance));
            }

            .f3 {
                transform: rotateZ(240deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(var(--Distance));
            }

            .f4 {
                transform: rotateY(180deg) rotateZ(60deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(var(--Distance));
            }

            .f5 {
                transform: rotateY(180deg) rotateZ(180deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(var(--Distance));
            }

            .f6 {
                transform: rotateY(180deg) rotateZ(300deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(var(--Distance));
            }
        }
    }
}

@keyframes cube-rotate {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(360deg);
    }
}

.line {
    position: absolute;
    width: 500px;
    height: 4px;

    &.line-x {
        color: #ff0000;
        background-color: #ff0000;
        transform: rotateX(0) rotateY(0) rotateZ(0);

        &.x-2 {
            transform: rotateX(90deg) rotateY(0) rotateZ(0);
            background-color: #fff;
            text-align: end;
        }
    }

    &.line-y {
        color: #28a745;
        background-color: #28a745;
        transform: rotateX(0) rotateY(0) rotateZ(90deg);

        &.y-2 {
            transform: rotateX(0) rotateY(90deg) rotateZ(90deg);
            background-color: #fff;
            text-align: end;
        }
    }

    &.line-z {
        color: #007bff;
        background-color: #007bff;
        transform: rotateX(0) rotateY(90deg) rotateZ(0);

        &.z-2 {
            transform: rotateY(90deg) rotateX(90deg) rotateZ(0);
            background-color: #fff;
            text-align: end;
        }
    }
}

.rotation-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #808080;

    .slider-group {
        width: 400px;
        display: flex;
        align-items: center;

        label {
            width: 100px;
        }

        input {
            width: 100%;
        }
    }
}