#root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

input,
textarea,
select {
  outline: none;
  height: 100%;
  padding: 8px 12px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Inter', Arial, sans-serif;
}

select {
  cursor: pointer;
  padding: 6px 12px;
}

button {
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: 'Inter', Arial, sans-serif;

  &:disabled {
    opacity: 0.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #007bff80;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
}